/* top-container */

.top-container {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-container .title {
    font-size: 32px;
    font-weight: bold;
}

/* top-container */

/* applications-table */

.table-container {
    width: 80%;
    margin: auto;
}

/* .applications-table {
    width: 80%;
} */

/* applications-table */

/* filter-container */

.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
    flex-wrap: wrap;
}

/* filter-container */

/* custom-row */

.custom-row {
    border-radius: 16px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100px;
}

/* custom-row */